@media only screen and (min-width: 992px) {
  /* vvv TOP MOST HEADER STYLES BEGIN vvv */
  
  .header-desktop__personalized-nav {
    display: block;
    float: right;
  }
  .header-desktop__personalized-nav li,
  .header-desktop__personalized-nav li a {
    display: inline-block;
    text-transform: uppercase;
  }
  .header-desktop__personalized-nav li {
    border-right: 0.5px solid black;
    padding: 0px 20px;
  }
  .header-desktop__personalized-nav li:last-child {
    border-right: none;
  }
  /* ^^^ TOP MOST HEADER STYLES END ^^^ */

  /* vvv MAIN HEADER STYLES BEGIN vvv */
  .header-main__burger-button {
    display: none;
  }

  .header-main {
    padding: 50px 0px;
  }
  .header-main__nav {
    display: block;
    float: left;
    padding: 0 10px;
  }

  .header-main__nav li {
    display: inline-block;
  }

  .header-main__nav li a {
    font-family: "playfair_displayitalic";
    font-size: 18px;
    padding: 0 10px;
  }

  .header-main__nav li a:hover {
    color: #d9bf8f;
  }

  .header-main__logo {
    position: absolute;
    left: calc(50% - 113px);
    font-size: 72px;
  }

  .header-main__right {
    display: block;
    float: right;
    padding: 0 20px;
  }

  .header-main__currency select{
    display: inline-block;
    background: black;
    vertical-align: bottom;
    margin-bottom: 5px;
  }
  .header-main__currency select {
    display: inline-block;
    text-transform: uppercase;
    font-family: "latobold";
    color: white;
    font-size: 12px;
    padding: 10px;
  }
  .header-main__social-media {
    display: inline-block;
    padding-right: 20px;
  }

  .header-main__social-media li {
    display: inline-block;
    padding: 0 6px;
  }

  .header-main__social-media li a:hover {
    opacity: 0.4;
  }

  .header-main__social-media img {
    width: 35px;
  }
  /* ^^^ MAIN HEADER STYLES END ^^^ */

  /* vvv CAROUSAL STYLES BEGIN vvv */
  .carousel__card {
    font-size: 16px;
    width: 276px;
  }

  .carousel__card-body {
    padding: 15px;
  }

  .carousel__card-body li {
    padding-top: 20px;
  }

  .carousel__card-body ul li:nth-child(4) {
    margin-bottom: 10px;
  }

  .carousel__card-button {
    margin-top: 50px;
  }

  .carousel__card-button a {
    height: 55px;
    width: 190px;
    padding: 18px;
  }
  /* ^^^ CAROUSAL STYLES END ^^^ */

  /* vvv OFFERS STYLES BEGIN vvv */
  .offers li {
    float: left;
    font-size: 16px;
  }

  .offer {
    padding: 25px 0px;
  }

  ul.offers li:nth-child(1) .offer {
    padding-left: 0;
    position: relative;
  }

  ul.offers li:nth-child(1) .offer::after {
    top: 0px;
    left: calc(100% - 50px);
    position: absolute;
    content: "";
    display: block;
    border-style: solid;
    border-width: 50px 0 50px 50px;
    border-color: #ffffff #ffffff #ffffff #d9bf8f;
  }

  ul.offers li:nth-child(2) .offer {
    padding-left: calc(50% - 130px);
    position: relative;
  }

  ul.offers li:nth-child(2) .offer::before {
    top: 0px;
    right: calc(100% - 50px);
    position: absolute;
    content: "";
    display: block;
    border-style: solid;
    border-width: 50px 0 50px 50px;
    border-color: transparent transparent transparent #ffffff;
  }

  ul.offers li:nth-child(2) .offer::after {
    top: 0px;
    left: calc(100% - 50px);
    position: absolute;
    content: "";
    display: block;
    border-style: solid;
    border-width: 50px 50px 50px 0;
    border-color: transparent #ffffff transparent transparent;
  }

  ul.offers li:nth-child(3) .offer {
    padding-left: calc(50% - 100px);
    position: relative;
  }

  ul.offers li:nth-child(3) .offer::before {
    top: 0px;
    right: calc(100% - 50px);
    position: absolute;
    content: "";
    display: block;
    border-style: solid;
    border-width: 50px 50px 50px 0px;
    border-color: #ffffff #d9bf8f #ffffff #ffffff;
  }
  /* ^^^ OFFERS STYLES END ^^^ */

  /* vvv HANDPICKED STYLES BEGIN vvv */
  .handpicked {
    position: relative;
  }
  .handpicked li {
    width: 33.33%;
    padding: 10px;
  }

  .handpicked li:nth-child(2) {
    max-height: 820px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .handpicked li:nth-child(1),
  .handpicked li:nth-child(4) {
    float: left;
  }

  .handpicked li:nth-child(3),
  .handpicked li:nth-child(5) {
    float: right;
  }

  .handpicked li:nth-child(4) {
    clear: both;
  }

  .handpicked__item a {
    width: 120px;
    height: 45px;
    font-size: 14px;
    padding: 15px 10px;
    bottom: 20%;
    left: calc(50% - 50px);
  }
  /* ^^^ HANDPICKED STYLES END ^^^ */

  /* vvv SUMMER COLLECTION STYLES BEGIN vvv */
  .summer li {
    width: 25%;
    float: left;
  }
  /* ^^^ SUMMER COLLECTION STYLES END ^^^ */

  
  /* vvv FOOTER STYLES BEGIN vvv */
  .footer-upper > li{
    text-align: left; 
    float: left;
  }

  .footer-upper > li{
    width: 25%;
  }
  /* ^^^ FOOTER STYLES BEGIN ^^^ */

  /* vvv CUSTOMER STYLES BEGIN vvv */
  .review__text {
    padding-top: 10%;
    width: 50%;
    font-size: 14px;
  }
  /* ^^^ CUSTOMER STYLES END ^^^ */

  /* vvv RESPONSIVE HELPER STYLES BEGIN vvv */
  .sunken-top {
    position: relative;
  }

  .sunken-top::after {
    left: calc(50% - 100px);
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 40px solid white;
  }
  /* ^^^ RESPONSIVE HELPER STYLES END ^^^ */
}
