@media only screen and (min-width: 992px) {
  /*TOP MOST HEADER STYLES BEGIN*/
  .header-desktop-wrapper {
    display: block;
    width: 100%;
    background-color: #f2f2f2;
  }
  .header-desktop {
    max-width: 1315px;
    padding: 14px 0px;
    font-size: 11px;
    margin: 0 auto;
  }

  .header-desktop:after {
    content: "";
    clear: both;
    display: table;
  }

  .header-desktop a {
    font-size: 11px;
  }

  .header-main__burger-button {
    display: none;
  }

  .header-desktop a:hover {
    color: #bbbbbb;
  }

  .header-desktop__contact-info {
    float: left;
    width: 140px;
    position: relative;
  }

  .header-desktop__contact-info img {
    position: absolute;
    left: 10px;
    top: 1px;
    width: 10px;
  }

  .header-desktop__contact-info span {
    left: 40px;
    position: absolute;
  }

  .header-desktop__personalized-nav {
    float: right;
  }
  .header-desktop__personalized-nav li,
  .header-desktop__personalized-nav li a {
    display: inline-block;
    text-transform: uppercase;
  }
  .header-desktop__personalized-nav li {
    border-right: 0.5px solid black;
    padding: 0px 20px;
  }
  .header-desktop__personalized-nav li:last-child {
    border-right: none;
    padding-right: 10px;
  }
  /*TOP MOST HEADER STYLES END*/

  /*MAIN HEADER STYLES BEGIN*/
  .header-main {
    padding: 50px 0px;
  }
  .header-main__nav {
    display: block;
    float: left;
  }

  .header-main__nav li {
    display: inline-block;
  }

  .header-main__nav li a {
    font-family: "playfair_displayitalic";
    font-size: 18px;
    padding: 0 10px;
  }

  .header-main__logo {
    position: absolute;
    left: calc(50% - 113px);
    font-size: 72px;
  }

  .header-main__right {
    display: block;
    float: right;
    padding-right: 10px;
  }

  .header-main__user-setting {
    display: inline-block;
    background: black;
    vertical-align: bottom;
    margin-bottom: 5px;
  }
  .header-main__user-setting a {
    display: inline-block;
    text-transform: uppercase;
    font-family: "latobold";
    color: white;
    font-size: 12px;
    padding: 10px;
  }
  .header-main__user-setting img {
    width: 12px;
  }

  .header-main__social-media {
    display: inline-block;
    padding-right: 20px;
  }

  .header-main__social-media li {
    display: inline-block;
    padding: 0 6px;
  }

  .header-main__social-media img {
    width: 35px;
  }
  /*MAIN HEADER STYLES END*/

  /*CAROUSAL STYLES BEGIN*/
  .carousel__card {
    font-size: 16px;
    width: 276px;
  }

  .carousel__card-body {
    padding: 15px;
  }

  .carousel__card-body li {
    padding-top: 20px;
  }

  .carousel__card-body ul li:nth-child(4) {
    margin-bottom: 10px;
  }

  .carousel__card-button {
    margin-top: 50px;
  }

  .carousel__card-button a {
    height: 55px;
    width: 190px;
    padding: 18px;
  }
  /*CAROUSAL STYLES END*/

  /*OFFERS STYLES BEGIN*/

  .offers li {
    float: left;
    font-size: 16px;
  }

  .offer {
    padding: 25px 0px;
  }

  ul.offers li:nth-child(1) .offer {
    padding-left: 0;
    position: relative;
  }

  ul.offers li:nth-child(1) .offer::after {
    top: 0px;
    left: calc(100% - 50px);
    position: absolute;
    content: "";
    display: block;
    border-style: solid;
    border-width: 50px 0 50px 50px;
    border-color: #ffffff #ffffff #ffffff #d9bf8f;
  }

  ul.offers li:nth-child(2) .offer {
    padding-left: calc(50% - 130px);
    position: relative;
  }

  ul.offers li:nth-child(2) .offer::before {
    top: 0px;
    right: calc(100% - 50px);
    position: absolute;
    content: "";
    display: block;
    border-style: solid;
    border-width: 50px 0 50px 50px;
    border-color: transparent transparent transparent #ffffff;
  }

  ul.offers li:nth-child(2) .offer::after {
    top: 0px;
    left: calc(100% - 50px);
    position: absolute;
    content: "";
    display: block;
    border-style: solid;
    border-width: 50px 50px 50px 0;
    border-color: transparent #ffffff transparent transparent;
  }

  ul.offers li:nth-child(3) .offer {
    padding-left: calc(50% - 100px);
    position: relative;
  }

  ul.offers li:nth-child(3) .offer::before {
    top: 0px;
    right: calc(100% - 50px);
    position: absolute;
    content: "";
    display: block;
    border-style: solid;
    border-width: 50px 50px 50px 0px;
    border-color: #ffffff #d9bf8f #ffffff #ffffff;
  }

  /*OFFERS STYLES END*/

  /* HANDPICKED STYLES BEGIN */
  .handpicked {
    position: relative;
  }
  .handpicked li {
    width: 33.33%;
    padding: 10px;
  }

  .handpicked li:nth-child(2) {
    max-height: 820px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .handpicked li:nth-child(1),
  .handpicked li:nth-child(4) {
    float: left;
  }

  .handpicked li:nth-child(3),
  .handpicked li:nth-child(5) {
    float: right;
  }

  .handpicked li:nth-child(4) {
    clear: both;
  }

  .handpicked__item a {
    width: 120px;
    height: 45px;
    font-size: 14px;
    padding: 15px 10px;
    bottom: 20%;
    left: calc(50% - 50px);
  }

  /* HANDPICKED STYLES END */

  /* SUMMER COLLECTION STYLES BEGIN */
  .summer li {
    width:25%;
    float: left;
  }
  
  /* SUMMER COLLECTION STYLES END */

  /*RESPONSIVE HELPER STYLES BEGIN*/
  .sunken-top {
    position: relative;
  }

  .sunken-top::after {
    left: calc(50% - 100px);
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 40px solid white;
  }

  /*RESPONSIVE HELPER STYLES END*/
}
