@font-face {
  font-family: "krinkes_decor_personal_useRg";
  src: url("../fonts/krinkesdecorpersonal-webfont.woff2") format("woff2"),
    url("../fonts/krinkesdecorpersonal-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latobold";
  src: url("../fonts/lato-bold-webfont.woff2") format("woff2"),
    url("../fonts/lato-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latoregular";
  src: url("../fonts/lato-regular-webfont.woff2") format("woff2"),
    url("../fonts/lato-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "playfair_displaybold_italic";
  src: url("../fonts/playfairdisplay-bolditalic-webfont.woff2") format("woff2"),
    url("../fonts/playfairdisplay-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "playfair_displayitalic";
  src: url("../fonts/playfairdisplay-italic-webfont.woff2") format("woff2"),
    url("../fonts/playfairdisplay-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: "latoregular";
}

a {
  text-decoration: none;
  color: black;
}

.header-desktop-wrapper {
  display: none;
  min-width: 300px;
}

/*MAIN HEADER STYLES BEGIN*/
.header-main-wrapper {
  width: 100%;
  min-width: 300px;
}

.header-main {
  max-width: 1315px;
  margin: 0 auto;
  position: relative;
  padding: 30px 0px;
  position: relative;
}

.header-main:after {
  content: "";
  clear: both;
  display: table;
}

.header-main__nav {
  display: none;
}

.header-main__burger-button {
  float: left;
  padding-left: 10px;
}

.header-main__burger-button button {
  border: none;
  background-color: transparent;
}

.header-main__burger-button img {
  width: 50px;
}

.header-main__logo {
  position: absolute;
  display: inline-block;
  font-family: "krinkes_decor_personal_useRg";
  left: calc(50% - 79px);
  font-size: 50px;
}

.header-main__right {
  display: none;
}
/*MAIN HEADER STYLES END*/

/*CAROUSAL STYLES BEGIN*/
.carousel-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  min-width: 300px;
  position: relative;
}

.carousel__card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  font-family: "latobold";
  width: 92px;
  font-size: 6px;
}

.carousel__card-body {
  border: 2px solid white;
  outline: 1px solid white;
  outline-offset: -7px;
  padding: 5px;
}

.carousel__card-body li{
  padding-top:10px;
}

.carousel__card-body ul li:nth-child(1){
  font-size: 1.215em;
  color:white;
}

.carousel__card-body ul li:nth-child(2){
  font-size: 3.6756em;
  color:black;
}

.carousel__card-body ul li:nth-child(3){
  font-size: 1.225em;
  color:white;
}

.carousel__card-body ul li:nth-child(4){
  font-size: 1.96em;
  color:black;
  margin-bottom: 5px;
}

.carousel__card-button {
  margin-top: 7px;
}

.carousel__card-button a {
  display: inline-block;
  height: 34px;
  width: 62px;
  padding: 10px;
  background-color: #f09d66;
  color: white;
  font-size: 1.5em;
}
/*CAROUSAL STYLES END*/
