/*
This webpage is divided into 9 sections:
1. Header (Upper header and Main Header)
2. Carousel
3. Offers
4. Handpicked
5. Summer' Collection
6. Brands
7. Customer Reviews
8. Footer (Upper footer and lower footer)
9. Hamburger Menu
*/

@font-face {
  font-family: "krinkes_decor_personal_useRg";
  src: url("../fonts/krinkesdecorpersonal-webfont.woff2") format("woff2"),
    url("../fonts/krinkesdecorpersonal-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latobold";
  src: url("../fonts/lato-bold-webfont.woff2") format("woff2"),
    url("../fonts/lato-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latoregular";
  src: url("../fonts/lato-regular-webfont.woff2") format("woff2"),
    url("../fonts/lato-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "playfair_displaybold_italic";
  src: url("../fonts/playfairdisplay-bolditalic-webfont.woff2") format("woff2"),
    url("../fonts/playfairdisplay-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "playfair_displayitalic";
  src: url("../fonts/playfairdisplay-italic-webfont.woff2") format("woff2"),
    url("../fonts/playfairdisplay-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: "latoregular";
}

a {
  text-decoration: none;
  color: black;
}

/* vvv UPPER HEADER STYLES BEGIN vvv*/

.header-desktop-wrapper {
  display: block;
  width: 100%;
  background-color: #f2f2f2;
}
.header-desktop {
  max-width: 1334px;
  padding: 15px 0px;
  font-size: 11px;
  margin: 0 auto;
}

.header-desktop:after {
  content: "";
  clear: both;
  display: table;
}

.header-desktop a {
  font-size: 11px;
}

.header-desktop a:hover {
  color: #d9bf8f;
}

.header-desktop__contact-info {
  float: left;
  width: 200px;
  height: 15px;
  position: relative;
  padding: 0 20px;
}

.header-desktop__contact-info img {
  position: absolute;
  top: 1px;
  width: 10px;
}

.header-desktop__contact-info a {
  position: absolute;
  left: 60px;
}

.header-desktop__personalized-nav {
  display: none;
}

/* ^^^ UPPER HEADER STYLES BEGIN ^^^*/

/* vvv MAIN HEADER STYLES BEGIN vvv*/
.header-main-wrapper {
  width: 100%;
}

.header-main {
  max-width: 1334px;
  margin: 0 auto; 
  position: relative;
  padding: 15px 0px;
  position: relative;
}

.header-main:after {
  content: "";
  clear: both;
  display: table;
}

.header-main__nav {
  display: none;
}

.header-main__burger-button {
  float: left;
  padding: 0 10px;
}

.header-main__burger-button button {
  border: none;
  background-color: transparent;
}

.header-main__burger-button button:hover{
  opacity: 0.2;
  outline: none;
}

.header-main__burger-button img {
  width: 40px;
}

.header-main__logo {
  position: absolute;
  display: inline-block;
  font-family: "krinkes_decor_personal_useRg";
  left: calc(50% - 62px);
  font-size: 40px;
}

.header-main__right {
  display: none;
}
/* ^^^ MAIN HEADER STYLES END ^^^*/

/* vvv CAROUSAL STYLES BEGIN vvv */
.carousel-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.carousel__card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  font-family: "latobold";
  width: 92px;
  font-size: 6px;
}

.carousel__card-body {
  border: 2px solid white;
  outline: 1px solid white;
  outline-offset: -7px;
  padding: 5px;
}

.carousel__card-body li {
  padding-top: 6px;
}

.carousel__card-body ul li:nth-child(1) {
  font-size: 1.215em;
  color: white;
}

.carousel__card-body ul li:nth-child(2) {
  font-size: 3.6756em;
  color: black;
}

.carousel__card-body ul li:nth-child(3) {
  font-size: 1.225em;
  color: white;
}

.carousel__card-body ul li:nth-child(4) {
  font-size: 1.96em;
  color: black;
  margin-bottom: 5px;
}

.carousel__card-button {
  margin-top: 7px;
}

.carousel__card-button a {
  display: inline-block;
  height: 34px;
  width: 62px;
  padding: 10px;
  background-color: #f09d66;
  color: white;
  font-size: 1.5em;
}
/* ^^^ CAROUSAL STYLES END ^^^ */

/* vvv OFFERS STYLES BEGIN vvv*/
.offers-wrapper {
  width: 100%;
  margin-top: 65px;
}
.offers {
  max-width: 1334px;
  margin: 0 auto;
}

.offers li {
  padding: 5px 10px;
  font-size: 16px;
  width: 100%;
}

.offer {
  height: 100px;
  color: white;
}

.offer__icon {
  width: 50px;
}

.offer__icon,
.offer__text {
  padding: 5px;
}

.offer__text h3 {
  font-size: 1.5em;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.offer__text span {
  font-size: 0.85em;
}

ul.offers li:nth-child(2) .offer {
  background-color: black;
}

ul.offers li:nth-child(1) .offer,
ul.offers li:nth-child(3) .offer {
  background-color: #d9bf8f;
}

ul.offers li .offer {
  padding-left: calc(50% - 125px);
  padding-top: 20px;
}

/* ^^^ OFFERS STYLES END ^^^ */

/* vvv HANDPICKED STYLES BEGIN vvv */
.handpicked-wrapper {
  width: 100%;
  margin-top: 65px;
}

.handpicked {
  max-width: 1334px;
  margin: 0 auto;
  margin-top: 55px;
}

.handpicked li:not(:nth-child(2)) .handpicked__item {
  outline: 5px solid white;
  outline-offset: -20px;
  position: relative;
}

.handpicked__item a {
  display: inline-block;
  position: absolute;
  background: #f0975c;
  color: white;
  text-transform: uppercase;
  width: 100px;
  height: 45px;
  font-size: 14px;
  padding: 15px 10px;
  bottom: 20%;
  left: calc(50% - 50px);
}
/* ^^^ HANDPICKED STYLES END ^^^*/

/* vvv SUMMER COLLECTION STYLES BEGIN vvv*/
.summer-wrapper {
  width: 100%;
  margin-top: 65px;
}

.summer {
  max-width: 1334px;
  margin: 0 auto;
  margin-top: 55px;
  border: 1px solid #eaeaea;
}

.summer li {
  width: 100%;
  padding: 5px;
}

.summer__item {
  position: relative;
}

.summer__item a {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -17.85%);
  display: inline-block;
  background: black;
  width: 100px;
  height: 44px;
  padding: 10px;
  padding-top: 15px;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
}

.summer__item a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0%;
  top: 0%;
  transform: translateX(-99%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 44px 44px;
  border-color: transparent transparent #000000 transparent;
}

.summer__item a:after {
  content: "";
  display: block;
  position: absolute;
  right: 0%;
  top: 0%;
  transform: translateX(99%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 44px 0 0 44px;
  border-color: transparent transparent transparent #000000;
}

/* ^^^ SUMMER COLLECTION STYLES END ^^^ */

/* vvv OUR BRAND STYLES BEGIN vvv */

.brand-wrapper {
  margin-top: 65px;
  width: 100%;
}

.brand {
  margin: 0 auto;
  max-width: 1334px;
  margin-top: 55px;
}

.brand li{
  width: 33.33%;
  float: left;
  padding: 20px; 
}
/* ^^^ OUR BRAND STYLES END ^^^ */

/* vvv CUSTOMER REVIEW STYLES BEGIN vvv*/
.review-wrapper {
  margin-top: 65px;
  width: 100%;
  position: relative;
}

.review-body {
  width: 100%;
  background-color:#d9bf8f;
  margin-top: 55px;
}

.review {
  margin: 0 auto;
  margin: 0 auto;
  max-width: 1334px;
  padding-top: 50px;
}

.review__image {
  width:40%;
}

.review__text {
  padding-top: 10%;
  width: 50%;
  font-size: 10px;
}

.review__text p {
  font-family: 'playfair_displayitalic';
  font-size: 1.125em;
  color: white;
  line-height: 20px;

}
.review__text h4 {
  padding-top: 20px;
  font-family: 'playfair_displaybold_italic';
  font-size: 1.875em;
}

.review__text h5 {
  color: #7f7e7e;
  padding-top: 10px;
  font-family: 'latobold';
  text-transform: uppercase;
  font-size: 0.875em;
}
/* ^^^ CUSTOMER RECIEW STYLES END ^^^ */

/* vvv FOOTER STYLES BEGIN vvv */
.footer-wrapper{
  width: 100%;
  background-color: #141414;
  font-size: 16px;
}

.footer-upper{
  padding: 65px 10px;
  margin: 0 auto;
  max-width: 1334px;
}

/* Responsive */
.footer-upper > li{
  padding-top:35px;
  text-align: center; 
}

.footer-upper__item li{
  padding-bottom: 22px;
}

.footer-upper__item li a
{
  color:#666666;
  font-size: 0.875em;
}

.footer-upper__item--title{
  color:white;
  text-transform: uppercase;
  font-size: 1em;
  padding-bottom: 30px;
}

.footer-upper__social-media-icons ul li{
  display: inline-block;
  padding-right: 5px;
}
.footer-upper__social-media-icons img{
  width: 30px;
}

.footer-upper__subscribe-title {
  padding-top: 35px;
}

.footer-upper__subscribe-form {
  margin: 0 auto;
  padding:4px;
  border: 0.5px solid #323030;
  width: 250px;
}

.footer-upper__subscribe-form input {
  padding: 10px;
  width: 170px;
  border:none;
  color: white;
  background-color: black;
  float: left;
  font-size: 0.65em;
}

.footer-upper__subscribe-form button {
  padding: 10px;
  width: 70px;
  border:none;
  color: white;
  background-color: #323030;
  text-transform: uppercase;
  font-size: 9px;
}

.footer-lower {
  max-width: 1334px;
  margin-top: 25px;
  padding: 0 15px;
  margin: 0 auto;
}

.footer__credits {
  font-size: 10px; 
  color:#363636;
  line-height: 14px;
  margin-bottom: 10px;
}
.footer__payments li {
  padding:5px;
  display: inline-block;
  margin-right:5px;
  vertical-align: middle;
}

.goto-top {
  width:25px;
}

/* ^^^ FOOTER  STYLES END ^^^ */

/* vvv RESPONSIVE HELPER STYLES BEGIN vvv */
.sunken-top {
  position: relative;
}

.sunken-top::after {
  position: absolute;
  content: "";
  display: block;
  top: -1px;
  left: calc(50% - 50px);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 11px solid white;
}

.content-title {
  margin: 0 auto;
  max-width: 1334px;
  position: relative;
  text-align: center;
}

.content-title:before {
  content: "";
  display: block;
  border-top: solid 1px #eaeaea;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  z-index: 0;
}

.content-title span {
  font-family: "playfair_displaybold_italic";
  font-size: 20px;
  background: #fff;
  padding: 0 5px;
  position: relative;
  z-index: 1;
}
.content-title span::before {
  content: url("../images/icon-slider-gold.png");
  width: 20px;
  height: 20px;
  display: inline-block;
  padding-right: 20px;
  background: #fff;
  z-index: 1;
}

.content-title span::after {
  content: url("../images/icon-slider-gold.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  padding-left: 20px;
  background: #fff;
  z-index: 1;
}
/* ^^^ RESPONSIVE HELPER STYLES END ^^^*/
