@media only screen and (min-width: 550px) {
  /* vvv MAIN HEADER STYLES BEGIN vvv */
  .header-main__logo {
    left: calc(50% - 78px);
    font-size: 50px;
  }

  /* ^^^ MAIN HEADER STYLES END ^^^*/

  /* vvv CAROUSAL STYLES BEGIN vvv */

  .carousel-wrapper:after {
    left: calc(50% - 30px);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 10px solid white;
  }

  .carousel__card {
    font-size: 11px;
    width: 155px;
  }

  .carousel__card-body ul li:nth-child(4) {
    margin-bottom: 8px;
  }

  .carousel__card-body {
    padding: 10px;
  }

  .carousel__card-body li {
    padding-top: 11px;
  }

  .carousel__card-button {
    margin-top: 25px;
  }

  .carousel__card-button a {
    height: 50px;
    width: 110px;
    padding: 16px 8px;
  }
  /* ^^^ CAROUSAL STYLES END ^^^*/

  /* vvv OFFERS STYLES BEGIN vvv */


  .offers-wrapper {
    margin-top: 65px;
  }

  .offers li {
    float: left;
    padding: 0 4px;
    font-size: 9px;
  }

  .offer {
    height: 80px;
  }

  .offer__icon {
    width: 44px;
  }

  .offer__icon,
  .offer__text {
  padding: 5px;
  }

  ul.offers li:nth-child(1) {
    width: 30%;
  }

  ul.offers li:nth-child(2) {
    width: 40%;
  }

  ul.offers li:nth-child(3) {
    width: 30%;
  }

  ul.offers li .offer {
    padding-left: calc(50% - 100px);
  }
  /* ^^^ OFFERS STYLES END ^^^ */

  /* vvv HANDPICKED STYLES BEGIN vvv */
  .handpicked-wrapper {
    margin-top: 65px;
  }

  .handpicked {
    margin-top: 45px;
  }

  .handpicked li {
    width: 50%;
    padding: 10px 10px;
  }


  .handpicked li:nth-child(1),
  .handpicked li:nth-child(3),
  .handpicked li:nth-child(4) {
    float: left;
  }
  .handpicked li:nth-child(2),
  .handpicked li:nth-child(5) {
    float: right;
  }

  .handpicked li:nth-child(2) {
    padding-bottom:20px;
  }

  /* ^^^ HANDPICKED STYLES END ^^^ */

  /* vvv SUMMER COLLECTION STYLES BEGIN vvv */

  .summer li {
    width: 50%;
    float: left;
  }

  /* ^^^ SUMMER COLLECTION STYLES END ^^^ */

  /* vvv BRAND STYLES BEGIN vvv */
  .brand li {
    width: 16.66667%;
    float: left;
    padding: 20px;
  }
  /* ^^^ BRAND STYLES END ^^^ */

  /* vvv CUSTOMER STYLES BEGIN vvv */
  ul.review li {
    width: 50%;
    float: left;
  }

  .review__text {
    padding-top: 10%;
    width: 50%;
    font-size: 10px;
  }
  /* ^^^ CUSTOMER STYLES END ^^^ */

  /* vvv FOOTER STYLES BEGIN vvv */
  .footer-upper > li{
    padding-left: 5px;
    text-align: left; 
    float: left;
    width: 50%;
  }

  .footer-upper__subscribe-form {
    margin: 0;
  }
  /* ^^^ FOOTER STYLES BEGIN ^^^ */

  
  /* vvv RESPONSIVE HELPER STYLES BEGIN ^^^ */
  .sunken-top {
    position: relative;
  }

  .sunken-top::after {
    left: calc(50% - 70px);
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-top: 15px solid white;
  }

  .content-title span {
    font-size: 25px;
  }

  /* ^^^ RESPONSIVE HELPER STYLES END ^^^ */
}



@media only screen and (min-width: 736px) {
 /* vvv OFFERS STYLES BEGIN vvv */
 .offer__icon {
  width: 40px;
}
 ul.offers li:nth-child(1) .offer {
   padding-left: 10px;
  position: relative;
}

ul.offers li:nth-child(1) .offer::after {
  top: 0px;
  right: 0%;
  position: absolute;
  content: "";
  display: block;
  border-style: solid;
  border-width: 40px 0 40px 40px;
  border-color: #ffffff #ffffff #ffffff #d9bf8f;
}

ul.offers li:nth-child(2) .offer {
  padding-left: calc(50% - 80px);
  position: relative;
}

ul.offers li:nth-child(2) .offer::before {
  top: 0px;
  left: 0%;
  position: absolute;
  content: "";
  display: block;
  border-style: solid;
  border-width: 40px 0 40px 40px;
  border-color: transparent transparent transparent #ffffff;
}

ul.offers li:nth-child(2) .offer::after {
  top: 0px;
  right: 0%;
  position: absolute;
  content: "";
  display: block;
  border-style: solid;
  border-width: 40px 40px 40px 0;
  border-color: transparent #ffffff transparent transparent;
}

ul.offers li:nth-child(3) .offer {
  padding-left: calc(50% - 60px);
  position: relative;
}

ul.offers li:nth-child(3) .offer::before {
  top: 0px;
  left: 0%;
  position: absolute;
  content: "";
  display: block;
  border-style: solid;
  border-width: 40px 40px 40px 0px;
  border-color: #ffffff #d9bf8f #ffffff #ffffff;
}


/* ^^^ OFFERS STYLES END ^^^ */


/* vvv HANDPICKED STYLES BEGIN vvv */

.handpicked li:nth-child(2) {
  padding-bottom:14px;
}
/* ^^^ HANDPICKED STYLES END ^^^ */
}