@media only screen and (min-width: 600px) {
  /* vvv MAIN HEADER STYLES BEGIN vvv */
  .header-main__logo {
    left: calc(50% - 94px);
    font-size: 60px;
  }

  /* ^^^ MAIN HEADER STYLES END ^^^*/

  /* vvv CAROUSAL STYLES BEGIN vvv */

  .carousel-wrapper:after {
    left: calc(50% - 30px);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 10px solid white;
  }

  .carousel__card {
    font-size: 12px;
    width: 155px;
  }

  .carousel__card-body ul li:nth-child(4) {
    margin-bottom: 8px;
  }

  .carousel__card-body {
    padding: 10px;
  }

  .carousel__card-body li {
    padding-top: 15px;
  }

  .carousel__card-button {
    margin-top: 25px;
  }

  .carousel__card-button a {
    height: 50px;
    width: 95px;
    padding: 9px;
  }
  /* ^^^ CAROUSAL STYLES END ^^^*/

  /* vvv OFFERS STYLES BEGIN vvv */

  .offers li {
    float: left;
    padding: 0 10px;
    font-size: 9px;
  }

  .offer {
    padding: 20px 0;
  }

  ul.offers li:nth-child(1) {
    width: 30%;
  }

  ul.offers li:nth-child(2) {
    width: 40%;
  }

  ul.offers li:nth-child(3) {
    width: 30%;
  }

  ul.offers li .offer {
    padding-left: calc(50% - 90px);
  }

  /* ^^^ OFFERS STYLES END ^^^ */

  /* vvv HANDPICKED STYLES BEGIN vvv */
  .handpicked__item a {
    width: 150px;
    height: 70px;
    font-size: 20px;
    padding: 20px;
    bottom: 20%;
    left: calc(50% - 75px);
  }

  .handpicked li {
    width: 50%;
  }

  .handpicked li {
    padding: 0 10px;
  }

  .handpicked li:nth-child(2) {
    padding-bottom: 2px;
  }

  .handpicked li:nth-child(1),
  .handpicked li:nth-child(3),
  .handpicked li:nth-child(4) {
    float: left;
  }
  .handpicked li:nth-child(2),
  .handpicked li:nth-child(5) {
    float: right;
  }

  /* ^^^ HANDPICKED STYLES END ^^^ */

  /* vvv SUMMER COLLECTION STYLES BEGIN vvv */

  .summer li {
    width: 50%;
    float: left;
  }

  /* ^^^ SUMMER COLLECTION STYLES END ^^^ */

  /* vvv BRAND STYLES BEGIN vvv */
  .brand li {
    width: 16.66667%;
    float: left;
    padding: 20px;
  }
  /* ^^^ BRAND STYLES END ^^^ */

  /* vvv CUSTOMER STYLES BEGIN vvv */
  ul.review li {
    width: 50%;
    float: left;
  }

  .review__text {
    padding-top: 10%;
    width: 50%;
    font-size: 10px;
  }
  /* ^^^ CUSTOMER STYLES END ^^^ */

  /* vvv FOOTER STYLES BEGIN vvv */
  .footer-upper > li{
    padding-left: 5px;
    text-align: left; 
    float: left;
    width: 50%;
  }

  .footer-upper__subscribe-form {
    margin: 0;
  }
  /* ^^^ FOOTER STYLES BEGIN ^^^ */

  
  /* vvv RESPONSIVE HELPER STYLES BEGIN ^^^ */
  .sunken-top {
    position: relative;
  }

  .sunken-top::after {
    left: calc(50% - 55px);
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    border-top: 15px solid white;
  }

  .content-title span {
    font-size: 25px;
  }

  /* ^^^ RESPONSIVE HELPER STYLES END ^^^ */
}
